In [110]:
import pandas as pd
import numpy as np

### I made a testing excel file with missing info for each school

In [111]:
df_data = pd.read_excel("test-nepal-schools.xls")

In [112]:
df_data

    school director   location block
0  school1       d1  location1     a
1      NaN      NaN        NaN     b
2      NaN      NaN        NaN     c
3  school2       d2  location2     a
4      NaN      NaN        NaN     b
5      NaN      NaN        NaN     c
6      NaN      NaN        NaN     d

####The empty cells in excel are represented as NaN

In [113]:
all_schools = df_data["school"]
print all_schools

print "There are %d schools." %len(df_data["school"])

0    school1
1        NaN
2        NaN
3    school2
4        NaN
5        NaN
6        NaN
Name: school, dtype: object
There are 7 schools.

In [114]:
for i in range(len(all_schools)):
    print type(all_schools[i])

<type 'unicode'>
<type 'float'>
<type 'float'>
<type 'unicode'>
<type 'float'>
<type 'float'>
<type 'float'>

### Names are of type unicode while NaN are of type float
####It's a bit of a hack but I'm going to use it below to distinguish between good data and missing data

In [115]:
# I'm creating a new data sctructure to store my data after adding the missing bits
new_schools = {'School': [], 'Director': [], 'Location': []}

for i in range(len(df_data)):
    if isinstance(df_data.loc[i]['school'], unicode):
        new_schools['School'].append(df_data.loc[i]['school'])
        new_schools['Director'].append(df_data.loc[i]['director'])
        new_schools['Location'].append(df_data.loc[i]['location'])
    elif isinstance(df_data.loc[i]['school'], float):
        new_schools['School'].append(new_schools['School'][i-1])
        new_schools['Director'].append(new_schools['Director'][i-1])
        new_schools['Location'].append(new_schools['Location'][i-1])
        
print new_schools

{'Director': [u'd1', u'd1', u'd1', u'd2', u'd2', u'd2', u'd2'], 'School': [u'school1', u'school1', u'school1', u'school2', u'school2', u'school2', u'school2'], 'Location': [u'location1', u'location1', u'location1', u'location2', u'location2', u'location2', u'location2']}

In [116]:
# I'm adding the block data that doesn't include missing fields
new_schools['Block'] = list(df_data['block'])

print new_schools

{'Director': [u'd1', u'd1', u'd1', u'd2', u'd2', u'd2', u'd2'], 'School': [u'school1', u'school1', u'school1', u'school2', u'school2', u'school2', u'school2'], 'Location': [u'location1', u'location1', u'location1', u'location2', u'location2', u'location2', u'location2'], 'Block': [u'a', u'b', u'c', u'a', u'b', u'c', u'd']}

In [117]:
## This way I can create a new data frame and save as a csv (or could be another format)
df_data2 = pd.DataFrame.from_dict(new_schools)

df_data2

  Block Director   Location   School
0     a       d1  location1  school1
1     b       d1  location1  school1
2     c       d1  location1  school1
3     a       d2  location2  school2
4     b       d2  location2  school2
5     c       d2  location2  school2
6     d       d2  location2  school2

In [118]:
## I can re-order the columns if needed
df_data2 = df_data2.reindex(columns=["School", "Director", "Location", "Block"])

    School Director   Location Block
0  school1       d1  location1     a
1  school1       d1  location1     b
2  school1       d1  location1     c
3  school2       d2  location2     a
4  school2       d2  location2     b
5  school2       d2  location2     c
6  school2       d2  location2     d

In [119]:
df_data2.to_csv("test-nepal-schools-fixed.csv", index=False)